a, a:hover{
	color: inherit;
}

nav{
	background-color: #00638C;
	color: white;
}

nav > .row{
	display: flex;
	justify-content: center; /* align horizontal */
	
}

nav > .col-xs-12{
	flex: 1;
	align-items: center;
	border: 1px solid black;
}

.row .list-header{
	border-radius: 7px 7px 0 0;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin: 38px 10px 0 0;
	background-color: #00638C;

}

.row .list-item{
	border: 1px solid #B8B8B8;
	margin: 0 10px 0 0;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}
.row .list-item:nth-child(even){
	background-color: #EFEFEF;
}

.row .list-item:hover{
	opacity: 0.9;
	position: relative;
	top: 1px;
}

.theme-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 7px #124c6e;
  -moz-box-shadow: 0px 2px 7px #124c6e;
  box-shadow: 0px 2px 7px #124c6e;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border-right: solid #18567a 3px;
  border-bottom: solid #135880 5px;
  border-left: solid #1a5a80 3px;
  text-decoration: none;
  margin: 10px;
  border-top: 0;
}

.theme-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.center{
	text-align: center;
}
